#Numeric representations

In [1]:
# Decimal Representation
decimal_num = 123
negative_decimal_num = -45
decimal_float_num = 3.14

# Binary Representation
binary_num = bin(10)  # Converts 10 to binary: '0b1010'

# Hexadecimal Representation
hex_num = 0xAB   # Represents the hexadecimal number 171

# Octal Representation
octal_num = 0o75  # Represents the octal number 61

# ASCII Representation
ascii_val = ord('A')  # Returns the ASCII value of 'A': 65

# Floating Point Representation
float_num = float(3.14)  # Represents the floating-point number 3.14

# Printing the results
print("Decimal Representation:")
print("Decimal number:", decimal_num)
print("Negative decimal number:", negative_decimal_num)
print("Decimal float number:", decimal_float_num)

print("\nBinary Representation:")
print("Binary number:", binary_num)

print("\nHexadecimal Representation:")
print("Hexadecimal number:", hex_num)

print("\nOctal Representation:")
print("Octal number:", octal_num)

print("\nASCII Representation:")
print("ASCII value of 'A':", ascii_val)

print("\nFloating Point Representation:")
print("Floating point number:", float_num)

Decimal Representation:
Decimal number: 123
Negative decimal number: -45
Decimal float number: 3.14

Binary Representation:
Binary number: 0b1010

Hexadecimal Representation:
Hexadecimal number: 171

Octal Representation:
Octal number: 61

ASCII Representation:
ASCII value of 'A': 65

Floating Point Representation:
Floating point number: 3.14

#Sets, relations and functions:

In [2]:
# Sets
# Direct creation
my_set = {1, 2, 3}

# Using set() constructor
another_set = set([4, 5, 6])

# Relations
# Binary relation R from set A to set B
relation_R = {(1, 'a'), (2, 'b'), (3, 'c')}

# Functions
# One-to-one function f
function_f = {1: 'apple', 2: 'banana', 3: 'cherry'}

# Printing the results
print("Sets:")
print("my_set:", my_set)
print("another_set:", another_set)

print("\nRelations:")
print("relation_R:", relation_R)

print("\nFunctions:")
print("function_f:", function_f)

Sets:
my_set: {1, 2, 3}
another_set: {4, 5, 6}

Relations:
relation_R: {(2, 'b'), (3, 'c'), (1, 'a')}

Functions:
function_f: {1: 'apple', 2: 'banana', 3: 'cherry'}